@import url('https://fonts.googleapis.com/css?family=Roboto');

.content-container p {


    padding: 10px 0px 8px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
   
}

.content-container{
    overflow-y: scroll;
    overflow-x: none;
    overflow: hidden;
    height: 650px;
}


.search-content{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto  ;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}

::placeholder {
  font-size: 18px;
}


.text input{
    border-style: none;
  
}

.content-container .search-content img{
   
    width: 23px;
    height: 24px;

}

.content-container .search-content img {
  padding: 7px 0px 0px 0px;
  width: 23px;
  height: 24px;
}

.search-container {
  -moz-box-shadow: 0 0 1px 1px #888;
  -webkit-box-shadow: 0 0 1px 1px#888;
  box-shadow: 0 0 1px 1px #888;
  margin: 18px;
}


.image1{
    width: 15%;
}

.image2{
    width: 15%;
}

.form-text{
    width: 70%;
}


.category-item{
    
    cursor: pointer;
    text-align: center;
    width: 60px;
    height: 60px;
    
}

.category-container{
    display: grid;
    height: 150px;
    grid-template-columns: auto auto auto auto ;
    justify-content: space-around;
    -webkit-box-shadow: 2px 13px 18px -9px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 20  18px -9px rgba(0,0,0,0.6);
    box-shadow: 2px 13px 18px -9px rgba(0,0,0,0.6);
    padding:20px 10px;
    

}

.category-container {
  display: grid;
  height: 150px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  -webkit-box-shadow: 2px 13px 18px -9px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 20 px 18px -9px rgba(0, 0, 0, 0.6);
  box-shadow: 2px 13px 18px -9px rgba(0, 0, 0, 0.6);
  padding: 20px 10px 20px 0px;
}



.font-category{
    font-family: 'Roboto Light V2',sans-serif;
    font-size: 13px;

}



.help-content {


    display: flex;
    justify-content: center;

}

.help-logo img {
  border: ridge;
}


.help-name{
    align-items: center;
    text-align: center;
    width: 232px;
    height: 32px;
    border: ridge;
   
  

}
.help-name a {
 text-decoration:none ;
    color:white;
}

.help-name span {

    
    font-family: 'Arial Bold', 'Arial Regular', 'Arial';
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: black;

}

.help {
  padding: 5px 0px;
}

.category-item:hover .umum {
  visibility: visible;
}



.umum{
    font-size: 10px;
    font-family: 'Arial Bold', 'Arial Regular', 'Arial';
    font-weight: 700;
     
}



.active {
  text-decoration: none;
}
