@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');


.header-umum{
    z-index: 5;
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    background-color: #E11931;
    
    justify-content: center;
    height: 50px;
}

.component-image{

    position: absolute;
    left: 0;
    padding-top: 10px;
    
}


.component-help p{
    
    padding-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff
}

.body-container{
    
    overflow-y: scroll;
    overflow-x: none;
    overflow: hidden;
}

.topic{
    text-align: center;
    padding-top: 60px;
}

.topic span {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.user-question-container{
    height: 100px;
    -webkit-box-shadow: 2px 11px 18px -9px rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 18px  18px -9px rgba(0,0,0,0.6);
    box-shadow: 2px 11px 18px -17px rgba(0,0,0,0.6);
    
}

.user-question{
    display:flex; 
    margin:10px;
    border: 2px ridge;
    width: auto;
    height: 75px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    
    
}

.user-question .question{
    
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: black;
}
.user-question img{
    position: absolute;
    left: 0;
    padding-left:25px;
}

.user-question .username {
    position: absolute;
    right:0;
    padding:55px 25px 0px 0px;
    
    
}

.slider-container{
    position: relative;
   
}

.slider{
  flex-direction: row;
}

.faq{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq span {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.faq-question-container{
    
    height: 75px;
    background-color: #CCCCCC;
    border-top: 2px ridge;
    border-bottom: 2px ridge;
    display: flex;
    
    
}

.question-button{
    display: grid;
    grid-template-columns: auto auto  ;
    position: relative;
    align-self: center;
    align-items:center;
    height: auto;
    width: 100%;
    text-align: justify;
    
}
.name{
    width: 85%;
    
}

.image-button{
    width: 15%;
    padding-bottom: 18px;
}

.question-button span{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
   
}


.question-button input{

    padding-right: 10px;
    position: absolute;
    right: 0; 
    cursor: pointer;
}

.chat-content{
    height: 95px;
    
}

.scroll-downShow{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: none;
    overflow: hidden;
    border-width: 0px;
    position: relative;
    width: auto;
    height: 177px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(153, 153, 153, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    
}

.scroll-downHide {
    display: none;
}

.question-faq {
    font-family: 'Roboto', sans-serif;
    text-transform: initial;
    letter-spacing: 1px;
    line-height: 20px;
    height: auto;
    text-align: justify;
}

